#follow-us {
	background: url('../images/Follow_us_on.svg');
}
#app-store, #android-store {
	background: url('../images/AppStore-Playstore-Coming Soon.svg');
}
#cat-img {
	background: url('../images/cat.svg');
}
#brother-img {
	background: url('../images/brother.svg');
}
#facebook {
	background: url('../images/facebook.svg');
}
#twitter {
	background: url('../images/twitter.svg');
}
#gplus {
	background: url('../images/G+.svg');
}
body {
	background: url('../images/wallpaper.svg') no-repeat;
	background-position: center;
}

@media (max-width: 320px){
	#sister-img {
		padding-right: 0%;
		margin-left: 50%;
		margin-top: 20%;
		width: 50%;
	}
	#cat-img {
		width: 43%;
		height: 74px;
		background-size: 100% 300%;
		background-position: 79% 19%;
		margin-top: -73%;
		margin-left: 29%;
	}
	#main-icon {
		margin-top: 17%;
	}
	#brother-img {
		width: 18%;
		height: 90px;
		background-size: 241% 187%;
		background-position: 0% 34%;
		margin-top: -57%;
		margin-left: 0%;
	}
	#app-store {
		width: 50%;
		height: 50px;
		background-size: 230% 305%;
		background-position: 47% 95%;
		margin-top: -2%;
		margin-left: 24%;
	}
	#android-store {
		width: 50%;
		height: 50px;
		background-size: 230% 305%;
		background-position: 52% 4%;
		margin-top: 1%;
		margin-left: 27.2%;
	}
	#mother-img {
		position: absolute;
		bottom: 0;
		padding-left: 0;
		width: 45%;
	}
	#father-img {
		padding-right: 0;
		position: absolute;
		bottom: 0;
		width: 50%;
	}
}

@media (min-width: 321px) and (max-width: 379px) {
	#sister-img {
		padding-right: 0%;
		margin-left: 50%;
		margin-top: 20%;
		width: 50%;
	}
	#cat-img {
		width: 36%;
		height: 74px;
		background-size: 100% 300%;
		background-position: 79% 22%;
		margin-top: -73%;
		margin-left: 34%;
	}
	#main-icon {
		margin-top: 20%;
	}
	#brother-img {
		width: 19%;
		height: 87px;
		background-size: 230% 305%;
		background-position: 0% 43%;
		margin-top: -44%;
		margin-left: 0%;
	}
	#app-store {
		width: 50%;
		height: 50px;
		background-size: 230% 305%;
		background-position: 47% 95%;
		margin-top: 2%;
		margin-left: 23%;
	}
	#android-store {
		width: 50%;
		height: 50px;
		background-size: 230% 305%;
		background-position: 52% 4%;
		margin-top: 1%;
		margin-left: 26.1%;
	}
	#mother-img {
		position: absolute;
		bottom: 0;
		padding-left: 0;
		width: 44%;
	}
	#father-img {
		padding-right: 0;
		position: absolute;
		bottom: 0;
		width: 50%;
	}
}
@media (min-width: 380px) and (max-width: 479px){
	#sister-img {
		padding-right: 0%;
		margin-left: 50%;
		margin-top: 16%;
		width: 50%;
	}
	#cat-img {
		width: 25%;
		height: 132px;
		background-size: 100% 300%;
		background-position: 4% 72%;
		margin-top: -26%;
	}
	#main-icon {
		margin-top: -36%;
		/*margin-left: 11%;*/
	}
	#brother-img {
		width: 21%;
		height: 77px;
		background-size: 209% 305%;
		background-position: 82% 77%;
		/* margin-top: 52%; */
		margin-left: 38%;
		position: absolute;
		bottom: 0;
	}
	#app-store {
		width: 50%;
		height: 60px;
		background-size: 230% 310%;
		background-position: 47% 94.8%;
		margin-top: -7%;
		margin-left: 24%;
	}
	#android-store {
		width: 50%;
		height: 60px;
		background-size: 226% 312%;
		background-position: 52% 4%;
		margin-top: 1%;
		margin-left: 27.1%;
	}
	#mother-img {
		position: absolute;
		bottom: 0;
		padding-left: 0;
		width: 40%;
	}
	#father-img {
		padding-right: 0;
		position: absolute;
		bottom: 0;
		width: 50%;
	}
	#follow-us {
		width: 20%;
		height: 49px;
		background-position: 0% 32%;
		background-size: 100% 100%;
	}
	#facebook {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
		margin-left: -83%;
	}
	#twitter {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
		margin-left: -41%;
	}
	#gplus {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
	}
}

@media (min-width: 480px) and (max-width: 589px){
	#sister-img {
		padding-right: 0%;
		margin-left: 56%;
		margin-top: 16%;
		width: 44%;
	}
	#cat-img {
		width: 25%;
		height: 132px;
		background-size: 100% 300%;
		background-position: 4% 72%;
		margin-top: -23%;
	}
	#main-icon {
		margin-top: -38%;
		padding-left: 1%;
		padding-right: 10%;
	}
	#brother-img {
		width: 17%;
		height: 85px;
		background-size: 209% 305%;
		background-position: 82% 79%;
		/* margin-top: 35.6%; */
		margin-left: 38%;
		position: absolute;
		bottom: 0;
	}
	#app-store {
		width: 50%;
		height: 60px;
		background-size: 230% 310%;
		background-position: 47% 95%;
		margin-top: -7%;
		margin-left: 20%;
	}
	#android-store {
		width: 50%;
		height: 60px;
		background-size: 226% 312%;
		background-position: 52% 4%;
		margin-top: 1%;
		margin-left: 23.2%;
	}
	#mother-img {
		position: absolute;
		bottom: 0;
		padding-left: 0;
		width: 30%;
	}
	#father-img {
		padding-right: 0;
		position: absolute;
		bottom: 0;
		width: 42%;
		right: 0;
	}
	#follow-us {
		width: 20%;
		height: 49px;
		background-position: 0% 32%;
		background-size: 100% 100%;
	}
	#facebook {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
		margin-left: -83%;
	}
	#twitter {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
		margin-left: -41%;
	}
	#gplus {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
	}
}

@media (min-width: 590px) and (max-width: 797px){
	#sister-img {
		padding-right: 0%;
		margin-left: 67%;
		margin-top: 16%;
		width: 33%;
	}
	#cat-img {
		width: 19%;
		height: 105px;
		background-position: 65% 76%;
		background-size: 100% 227%;
		margin-top: -17%;
	}
	#main-icon {
		width: 20%;
		margin-top: -22%;
		margin-left: 38%;
	}
	#brother-img {
		width: 13%;
		height: 85px;
		background-size: 209% 305%;
		background-position: 82% 75%;
		/* margin-top: 35.6%; */
		margin-left: 38%;
		position: absolute;
		bottom: 0;
	}
	#app-store {
		width: 23%;
		height: 51px;
		background-size: 100% 310%;
		background-position: 52% -53%;
		margin-top: -5%;
		margin-left: 14%;
	}
	#android-store {
		width: 23%;
		height: 51px;
		background-size: 100% 312%;
		background-position: 52% 4%;
		margin-top: -6.6%;
		margin-left: 55.8%;
	}
	#mother-img {
		position: absolute;
		bottom: 0;
		padding-left: 0;
		width: 28%;
	}
	#father-img {
		padding-right: 0%;
		/* margin-left: 77%; */
		width: 31%;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	#follow-us {
		width: 17%;
		height: 49px;
		background-position: 0% 32%;
		background-size: 100% 100%;
	}
	#facebook {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
		margin-left: -83%;
	}
	#twitter {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
		margin-left: -41%;
	}
	#gplus {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
	}
}

@media (min-width: 798px) and (max-width: 991px){
	#sister-img {
		padding-right: 0%;
		margin-left: 73.5%;
		margin-top: 13%;
		width: 26.5%;
	}
	#cat-img {
		width: 14%;
		height: 72px;
		background-position: 113% 76%;
		background-size: 100% 256%;
		margin-top: -20%;
	}
	#main-icon {
		margin-top: -22%;
	}
	#brother-img {
		width: 11%;
		height: 77px;
		background-size: 209% 305%;
		background-position: 82% 88%;
		/* margin-top: 35.6%; 
		/* margin-left: 38%; */
		position: absolute;
		bottom: 0;
	}
	#app-store {
		width: 23%;
		height: 60px;
		background-size: 100% 310%;
		background-position: 50% 94.9%;
		margin-top: -7%;
		margin-left: 19%;
	}
	#android-store {
		width: 23%;
		height: 60px;
		background-size: 100% 312%;
		background-position: 52% 4%;
		margin-top: -6.5%;
		margin-left: 57%;
	}
	#mother-img {
		position: absolute;
		bottom: 0;
		width: 23%;
		padding-left: 0;
	}
	#father-img {
		padding-right: 0%;
		/* margin-left: 77%; */
		width: 25%;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	#follow-us {
		width: 12%;
		height: 49px;
		background-position: 0% 32%;
		background-size: 100% 100%;
	}
	#facebook {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
		margin-left: -83%;
	}
	#twitter {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
		margin-left: -41%;
	}
	#gplus {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	#sister-img {
		padding-right: 0%;
		margin-left: 78.1%;
		margin-top: 10%;
		width: 21.9%;
	}
	#cat-img {
		width: 14%;
		height: 109px;
		background-position: 113% 76%;
		background-size: 100% 256%;
		margin-top: -20%;
	}
	#main-icon {
		margin-top: -22%;
	}
	#brother-img {
		width: 10%;
		height: 79px;
		background-size: 201% 277%;
		background-position: 82% 96%;
		/* margin-top: 22%; */
		/* margin-left: 38%; */
		position: absolute;
		bottom: 0;
	}
	#app-store {
		width: 23%;
		height: 67px;
		background-size: 100% 312%;
		background-position: 56% 94.8%;
		margin-top: -7%;
		margin-left: 21%;
	}
	#android-store {
		width: 23%;
		height: 67px;
		background-size: 100% 312%;
		background-position: 52% 4%;
		margin-top: -7%;
		margin-left: 55%;
	}
	#mother-img {
		position: absolute;
		bottom: 0;
		padding-left: 0;
	}
	#father-img {
		padding-right: 0%;
		margin-left: 80%;
		width: 20%;
		position: absolute;
		bottom: 0;
	}
	#follow-us {
		width: 12%;
		height: 49px;
		background-position: 0% 32%;
		background-size: 100% 100%;
	}
	#facebook {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
		margin-left: -95%;
	}
	#twitter {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
		margin-left: -45%;
	}
	#gplus {
		text-indent: -9999px;
		display: block;
		width: 68%;
		height: 49px;
		background-size: 100% 100%;
		margin-left: 5%;
	}
}

@media (min-width: 1200px){
	#sister-img {
		padding-right: 0%;
		margin-left: 81%;
		margin-top: 10%;
		width: 19%;
	}
	#cat-img {
		width: 14%;
		height: 126px;
		background-position: 113% 76%;
		background-size: 100% 256%;
		margin-top: -20%;
	}
	#main-icon {
		margin-top: -22%;
		margin-left: 46%;
	}
	#brother-img {
		width: 10%;
		height: 79px;
		background-size: 201% 277%;
		background-position: 82% 96%;
		/* margin-top: 13.1%; */
		position: absolute;
		bottom: 0;
	}
	#app-store {
		width: 23%;
		height: 77px;
		background-size: 100% 312%;
		background-position: 58% 94.8%;
		margin-top: -5%;
		/* margin-left: 25%; */
	}
	#android-store {
		width: 23%;
		height: 77px;
		background-size: 100% 312%;
		background-position: 52% 4%;
		margin-top: -5%;
		/* margin-left: 25%; */
	}
	#mother-img {
		position: absolute;
		bottom: 0;
		padding-left: 0;
	}
	#father-img {
		padding-right: 0%;
		margin-left: 82%;
		width: 18%;
		position: absolute;
		bottom: 0;
	}
	#follow-us {
		/*width: 12%;*/
		height: 49px;
		background-position: 0% 32%;
		background-size: 100% 100%;
	}
	#facebook {
		text-indent: -9999px;
		display: block;
		width: 51%;
		height: 49px;
		margin-left: -103%;
	}
	#twitter {
		text-indent: -9999px;
		display: block;
		width: 52%;
		height: 49px;
		margin-left: -47%;
	}
	#gplus {
		text-indent: -9999px;
		display: block;
		width: 52%;
		height: 49px;
		margin-left: 10%;
	}
}
