#main-icon {
	background: url('../images/Icon-60@2x.png');
}
#app-store, #android-store {
	background: url('../images/AppStore-Playstore-01.svg');
}
#cat-img {
	background: url('../images/cat.svg');
}
/*#sister-img {
	background: url('../images/sister.svg');
}*/
#brother-img {
	background: url('../images/brother.svg');
}
#mother-img {
	background: url('../images/mother.svg');
}
#father-img {
	background: url('../images/father.svg');
}

@media (max-width: 320px){
	#sister-img {
		margin-left: 18%;
	}
}

@media (max-width: 321px) and (max-width: 379) {
	#sister-img {
		margin-left: 31%;
	}
}
@media (min-width: 380px) and (max-width: 479px){
	#sister-img {
		margin-left: 45.4%;
	}
}

@media (min-width: 480px) and (max-width: 589px){
	#sister-img {
		margin-left: 55.6%;
	}
}

@media (min-width: 590px) and (max-width: 797px){
	#sister-img {
		margin-left: 67%;
	}
}

@media (min-width: 798px) and (max-width: 991px){
	
}

@media (min-width: 992px) and (max-width: 1199px){
	#sister-img {
		margin-left: 78.1%;
	}
}

@media (min-width: 1200px){
	#sister-img {
		margin-left: 80.8%;
	}
}
