#main-icon {
	background: url('../images/Icon-60@2x.png');
}
#app-store, #android-store {
	background: url('../images/AppStore-Playstore-01.svg');
}
#cat-img {
	background: url('../images/cat.svg');
}
#sister-img {
	background: url('../images/sister.svg');
}
#brother-img {
	background: url('../images/brother.svg');
}
#mother-img {
	background: url('../images/mother.svg');
}
#father-img {
	background: url('../images/father.svg');
}

@media (min-width: 1200px){
	#main-icon {
		width: 120px;
		height: 120px;
		background-position: 0px 0px;
		margin-top: -6%;
		margin-left: 33%;
	}
	#app-store {
		text-indent: -9999px;
		width: 18%;
		height: 74px;
		background-position: -7px 84px;
	}
	#android-store {
		text-indent: -9999px;
		width: 18%;
		height: 74px;
		background-position: -8px -8px;
	}
	#download-links {
		margin-top: 4%;
		margin-left: 7%;
		width: 93%;
	}
	#cat-img {
		width: 12.7%;
		height: 215px;
		background-position: 0px 224px;
		margin-left: 0%;
		margin-top: -11%;
	}
	#sister-img {
		width: 178px;
		height: 172px;
		background-position: 178px 251px;
		margin-left: 87%;
		margin-top: 9%;
	}
	#brother-img {
		text-indent: -9999px;
		width: 7.5%;
		height: 73px;
		background-position: 111px 74px;
		margin-top: 16.1%;
		margin-left: 43%;
	}
	#mother-img {
		width: 215px;
		height: 200px;
		background-position: 0px 208px;
		margin-left: -11%;
		margin-top: -16.9%;
	}
	#father-img {
		width: 11%;
		height: 193px;
		background-position: -90px 194px;
		margin-left: 91.5%;
		margin-top: -16.2%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 798px) and (max-width: 991px) {

}

@media (min-width: 590px) and (max-width: 797px) {

}

@media (min-width: 480px) and (max-width: 589px) {

}

@media (min-width: 380px) and (max-width: 479px) {

}

@media (max-width: 350px) {
	#main-icon {
		display: block;
  		margin: 0 auto;
  		text-indent: -9999px;
		width: 120px;
		height: 120px;
		background-position: 0px 0px;
		margin-top: 44%;
		margin-left: 35%;
	}
	#app-store {
		text-indent: -9999px;
		width: 100%;
		height: 74px;
		background-position: -7px 84px;
		margin-top: -159%;
	}
	#android-store {
		text-indent: -9999px;
		width: 100%;
		height: 74px;
		background-position: -8px -8px;
		margin-top: 3%;
	}
	#download-links {
		margin-top: -113%;
		margin-left: 14%;
		width: 77%;
	}
	#cat-img {
		text-indent: -9999px;
		width: 195px;
		height: 136px;
		background-position: 256px -18px;
		margin-top: -87%;
		margin-left: 18%;
	}
	#sister-img {
		text-indent: -9999px;
		width: 119px;
		height: 173px;
		background-position: 141px 251px;
		margin-left: 67%;
		margin-top: -71%;
	}
	#brother-img {
		text-indent: -9999px;
		width: 25%;
		height: 114px;
		background-position: 1px 171px;
		margin-top: 12%;
		margin-left: -6%;
	}
	#mother-img {
		width: 215px;
		height: 205px;
		background-position: 0px 210px;
		margin-left: -16%;
		margin-top: 62%;
	}
	#father-img {
		width: 39%;
		height: 193px;
		background-position: -90px 214px;
		margin-left: 66%;
		margin-top: -61%;
	}
}